config/vesktop/
config/ibus/
config/enchant/
config/dconf/
config/cmus/search-history
config/cmus/command-history
config/cmus/cache
config/cmus/autosave
config/nvim/plugin/packer_compiled.lua
config/nvim/undo/
config/libreoffice
config/pavucontrol.ini
config/goofcord
config/totem/state.ini
config/fcitx5/profile
