config/vesktop/
config/ibus/
config/enchant/
config/hypr/hypr-colors.conf
config/hypr/hyprlock-background.conf
config/dconf/
config/cmus/search-history
config/cmus/command-history
config/cmus/cache
config/cmus/autosave
config/nvim/plugin/packer_compiled.lua
config/nvim/undo/
config/libreoffice
