[Desktop Entry]
Name=Dissent
Version=1.0
Type=Application
Terminal=false
GenericName=Discord chat client
Comment=A Discord client in Go and GTK4
Exec=/usr/bin/flatpak run --branch=stable --arch=aarch64 --command=dissent so.libdb.dissent
Icon=so.libdb.dissent
Categories=GNOME;GTK;Network;Chat;InstantMessaging;
Keywords=Discord;chat;irc;communications;talk;
StartupNotify=true
X-GNOME-UsesNotifications=true
X-Purism-FormFactor=Workstation;Mobile;
X-Desktop-File-Install-Version=0.27
X-Flatpak=so.libdb.dissent
